<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395071482429-317iooap3u26rf6e5mmjej33777n2snl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395071482429-317iooap3u26rf6e5mmjej33777n2snl</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGo98L716SvH27t-Xm7NxUN5cNkYVKyc</string>
	<key>GCM_SENDER_ID</key>
	<string>395071482429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramclone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-c1ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-c1ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395071482429:ios:dfb4d78f26bacceb705854</string>
</dict>
</plist>